.headerForm{
    background-color:#f7480b;
    color: white;
}
.logo{
    background-color: white;
}
#nama{
    background-color: #f7480b;
    color: cyan;
    border-radius: 10px;
    border-color: green;
}
td{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}
button{
    border : 1px solid teal;
    background-color: black;
    color: white;
    border-radius: 5px;
}
button:hover{
    border : 1px solid teal;
    background-color: yellow;
    color: black;
    border-radius: 5px;
}