.headerForm{
    background-color: black;

    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tableForm{
    border: 1px solid lightgreen;
    /* background-image: url("/image/Grojokan-Sewu-sialirahman.jpg"); */
    font-family:'Courier New';
}

body{
    background-image: url("/image/Grojokan-Sewu-sialirahman.jpg");
}